<!DOCTYPE html>
    <html>
    <%- partial('partials/head') %>
    <body>
    <%- partial('partials/navbar') %>
    <div class="container mt-5 pb-5">
        <p class="h1 mb-3">
            <%- page.title %>
        </p>
        <%- page.content %>
    </div>
    <%- partial('partials/scripts') %>
    </body>
</html>